################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AIDocumentAnalysis/AIDocumentAnalysis-BE/obj
/AIDocumentAnalysis/.vs/AIDocumentAnalysis
